In [3]:
import pandas as pd
from sklearn.cluster import KMeans

In [5]:
if __name__ == '__main__':

    dataset = pd.read_csv('/content/zoo4.csv') #Ubicación de archivo fuente
    x = dataset.drop(['animal_name'], axis=1 )

    
    kmeans = KMeans(n_clusters=7, random_state=1).fit(x) #Usar n_clusters para el númer de grupos deseados, random_state se define con cualquier número para asegurar los mismos resultados
    print('='*64) #Esta línea es solo para estética de impresión en terminal
    print('Total de grupos:', len(kmeans.cluster_centers_))
    print('='*64)
    dataset['grupo'] = kmeans.predict(x) #Nombre de la nueva columna donde pondremos nuestra predicción de algoritmo
    dataset.to_csv('./Output/zoo.csv', index=False, header=True) #Creación de archivo en carpeta destino

    grouped_df = dataset.groupby(['grupo']) 

    for key, group in grouped_df:  #Muestra cada grupo
        print(grouped_df.get_group(key), "\n\n", '='*180)  

    print('El Archivo "groups.csv" ha sido creado con éxito en la carpeta "out".')

================================================================
Total de grupos: 7
================================================================
   animal_name  hair  feathers  eggs  ...  tail  domestic  catsize  grupo
0       turtle     0         0     1  ...     1         1        1      0
1    chameleon     0         0     1  ...     1         1        0      0
4        gecko     0         0     1  ...     1         1        0      0
11       skink     0         0     1  ...     1         0        0      0
19  salamander     0         0     1  ...     1         1        0      0
20       siren     0         0     1  ...     1         0        0      0
21   tree frog     0         0     1  ...     0         0        0      0
22   dart frog     0         0     1  ...     0         0        0      0
23   firebelly     0         0     1  ...     0         0        0      0
24   wart toad     0         0     1  ...     0         0        0      0

[10 rows x 18 columns]

 ====================================================================================================================================================================================
   animal_name  hair  feathers  eggs  ...  tail  domestic  catsize  grupo
37     scallop     0         0     1  ...     0         0        0      1
39       snail     0         0     1  ...     0         0        0      1
40    silkworm     0         0     1  ...     0         0        0      1
41   jellyfish     0         0     1  ...     0         0        1      1
42       squid     0         0     1  ...     0         0        1      1

[5 rows x 18 columns]

 ====================================================================================================================================================================================
   animal_name  hair  feathers  eggs  ...  tail  domestic  catsize  grupo
25    mosquito     0         0     1  ...     0         0        0      2
26      hornet     0         0     1  ...     0         0        0      2
27     cricket     0         0     1  ...     0         0        0      2
28      beetle     0         0     1  ...     0         0        0      2
29   butterfly     1         0     1  ...     0         0        0      2
30    palmetto     0         0     1  ...     0         0        0      2
31   cockroach     0         0     1  ...     0         0        0      2
32      mantis     0         0     1  ...     0         0        0      2
33   dragonfly     0         0     1  ...     0         0        0      2
34       aphid     0         0     1  ...     0         0        0      2
35      cicada     0         0     1  ...     0         0        0      2
36     antlion     0         0     1  ...     0         0        0      2

[12 rows x 18 columns]

 ====================================================================================================================================================================================
   animal_name  hair  feathers  eggs  ...  tail  domestic  catsize  grupo
12     anchovy     0         0     1  ...     1         0        0      3
13    flounder     0         0     1  ...     1         0        1      3
14     halibut     0         0     1  ...     1         0        1      3
15    mackerel     0         0     1  ...     1         0        1      3
16   barracuda     0         0     1  ...     1         0        1      3
17      marlin     0         0     1  ...     1         0        1      3
18       trout     0         0     1  ...     1         0        1      3

[7 rows x 18 columns]

 ====================================================================================================================================================================================
  animal_name  hair  feathers  eggs  milk  ...  legs  tail  domestic  catsize  grupo
5      python     0         0     1     0  ...     0     1         0        1      4
6         boa     0         0     1     0  ...     0     1         0        1      4
7       adder     0         0     1     0  ...     0     1         0        1      4

[3 rows x 18 columns]

 ====================================================================================================================================================================================
   animal_name  hair  feathers  eggs  ...  tail  domestic  catsize  grupo
38      spider     0         0     1  ...     0         0        0      5

[1 rows x 18 columns]

 ====================================================================================================================================================================================
   animal_name  hair  feathers  eggs  ...  tail  domestic  catsize  grupo
2       iguana     0         0     1  ...     1         1        1      6
3       lizard     0         0     1  ...     1         0        0      6
8    crocodile     0         0     1  ...     1         0        1      6
9    alligator     0         0     1  ...     1         0        1      6
10     gharial     0         0     1  ...     1         0        1      6

[5 rows x 18 columns]

 ====================================================================================================================================================================================
El Archivo "groups.csv" ha sido creado con éxito en la carpeta "out".